@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	body {
		background: #10141e;
		font-family: "Outfit", sans-serif;
		color: white;
	}
	::-webkit-scrollbar {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #fc4747;
	}
}
